<div class="modal fade" id="removeModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-body">
                    <p class="mb-0">{{ text }}</p>
                    {% for err in errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ err }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">ะะบ</button>
            </div>
        </div>
    </div>
</div>
