{% if notes|length >0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Заголовок</th>
            <th class="col-sm-5">Текст</th>
            <th >Опции</th>
        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr id="{{ note.id }}">
                <td>{{ note.title }}</td>
                <td>{{ note.text|slice(0,150) }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Опции
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item editNote" href="#" >Редактировать</a>
                            <a class="dropdown-item removeNote" href="#">Удалить</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <blockquote class="blockquote text-right">
        <p class="mb-0">Создайте свою первую заметку</p>
        <footer class="blockquote-footer">Кнопочка вверху слева</footer>
    </blockquote>
{% endif %}